$white: #fff;
$Black: #1F2D3D;
$DarkBlue: #1D8CE0;
$Blue: #20A0FF;
$lightBlue: #58B7FF;
$lightGray: #E5E9F2;
$Silver: #8492A6;
$LightSilver: #99A9BF;
$ExtraLightGray: #EFF2F7;
$ShitYellow: #F7BA2A;
$navBarH: 45px;//上导航栏
$toolbarH: 50px;//底部工具栏
$padd-10: 10px;
/*添加css3前缀*/
@mixin prefix($property,$value){
  -webkit-#{$property}: $value;
  -moz#{$property}: $value;
  #{$property}: $value
}

@mixin radius($value){
  @include prefix(border-radius,$value)
}

@mixin blur($value){
  @include prefix(filter,$value)
}

body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
webkit,::-webkit-scrollbar{width: 0;}
.container{
  padding-top: $navBarH;
  height: 100%;
  position: relative;
  // overflow-y: scroll;
}

.scrollHide{
  height: 100%;
  overflow: hidden
}

.pull-right{
  float: right;
}

#app{
  height: 100%;
  background: #DFE5EA;
}

//清除浮动
.clearfix:after{
  content: ' ';
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}

.noData{
  height: 150px;
  line-height: 150px;
  color: #ddd;
  text-align: center;
}
.a-tip{
  margin-top: 79px;
  color: darkgray;
  text-align: center;
  display: none;
}
@media (min-width: 768px){
  .a-tip{
    display: block;
  }
  #app {
    width: 375px;
    height: 667px;
    margin: 50px auto 0 auto;
    border: 1px solid lightgray;
  }
  #head{
    position: static;
  }
  #head .navbar.fix{
    position: absolute;
    z-index: 21;
  }
  .main{
    height: 100%;
    overflow: auto;
    padding-bottom: 50px;
  }
   #app #toolbar{
    position: absolute;
  }
  .container-wrap{
    position: relative;
  }

}