$white: #fff;
$Black: #1F2D3D;
$DarkBlue: #1D8CE0;
$Blue: #20A0FF;
$lightBlue: #58B7FF;
$lightGray: #E5E9F2;
$Silver: #8492A6;
$LightSilver: #99A9BF;
$ExtraLightGray: #EFF2F7;
$ShitYellow: #F7BA2A;
$navBarH: 45px;//上导航栏
$toolbarH: 50px;//底部工具栏
$padd-10: 10px;
/*添加css3前缀*/
@mixin prefix($property,$value){
  -webkit-#{$property}: $value;
  -moz#{$property}: $value;
  #{$property}: $value
}

@mixin radius($value){
  @include prefix(border-radius,$value)
}

@mixin blur($value){
  @include prefix(filter,$value)
}

body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.container{
  padding-top: $navBarH;
  height: 100%;
}

.scrollHide{
  height: 100%;
  overflow: hidden
}

.pull-right{
  float: right;
}

#app{
height: 100%;
}

//清除浮动
.clearfix:after{
  content: ' ';
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}