$bg: #37363C;
$imgW: 110px;
$titleFont: 30px; 
$nameFont: 14px; 
$co9a3: #71B9A3;
$cob7d: #F6CB7D;
.co-9a3{
  color: $co9a3;
}
.co-b7d{
    color: $cob7d;
}
#heros{
  display: flex;
  flex-wrap: wrap;
  padding: $padd-10;
  justify-content: space-around;
  background-color: $bg;
  .title{
    color: $white;
    flex-basis: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: $titleFont;
  }
  .hero-item{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    font-size: $nameFont;
    .img-wrap{
      margin-bottom: 5px;
      height: $imgW;
      overflow: hidden;
      @include radius(50%);
      box-shadow: 14px 0px 14px rgba(0,0,0,0.25), 10px 5px 5px rgba(0,0,0,0.22);
      .hero-img{
        width: $imgW; 
      }
    }

  }
}

