$fontS: 30px;
$mt: 300px;
#landing{
    height: 100%;
        background-image: url('../images/xuemo.jpg');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
        width: 100%;
        height: 100%;
        text-align: center;
        .landing-inner{
            font-weight: bold;
            color: $white;
            padding-top: $mt;
            .app-title{
                font-size: $fontS;
            }
            .version-p{
                font-size: $fontS/1.5; 
            }
            .loading-time{
                position: absolute;
                right: 20px;
                top: 20px;
                padding: 3px 15px;
                border-radius: 10px; 
                background-color: rgba(30,30,30,.8);
                .number{
                    color: #f7ba2a;
                }
            }
        }   
    
}