$heroavatarW: 70px; // 英雄头像宽度
$itemW: 30px; // 装备图片宽度
$titleH: 54px; // 导航条高度
$tableheaderH: 40px; // 表头高度
$cellBorderColor: #F1F2F2;
$failColor: #BBBDCF;
$winColor: #31A836;
$titleColor: #676D73;
$direColor: rgb(157,53,40); //夜宴 颜色
$radiantColor: rgb(81,140,66); //近卫 颜色

.col-C7CBCF{
  color: #C7CBCF;
}
.failColor{
  background-color: $failColor;
}
.winColor{
  background-color: $winColor;
}
.ye-line{
  height: 4px;
  background: $ShitYellow;
}
.container-wrap{
  height: 100%;
}

#match-detail{
    height: 100%;
    background-color: #1F2D3D;
    padding-top: 45px;
    padding-bottom: 50px;
    overflow: scroll;
  .match-wrap{
    & .match-table:nth-of-type(2){
      margin-top: 10px;
    }
    .dire{
      background: linear-gradient(to right, rgb(37,18,18) , $Black);
      .user-name{
        color: $direColor
      }
    }
    .radiant{
      background: linear-gradient(to right, rgb(32,42,22) , $Black);
      .user-name{
        color: $radiantColor
      }
    }
    .table-header{
      height: $tableheaderH;
      display: flex;
      justify-content: space-between;
      // 表格头左半
      .header-left{
        width:150px;
        height:$tableheaderH;
        color: $white;
        display: flex;
        position: relative;
        .desc-div{
          font-size: 14px;
          line-height: 14px;
          position: absolute;
          top: -39px;
          left: 5px;
          &>p:nth-of-type(1){
            margin-bottom: 5px;
          }
        }
        .winOrFailed{
            position: absolute;
            left: 59px;
            top: -34px;
            font-size: 19px;
        }
      }
      // 表格头右半
      .header-right{
        display:flex;
        color: #fff;
        font-size: 12px;
        align-items:center;
        &>span{
          padding:0 8px;
        }
      }
    }
    .dire-header{
      border-top:1px solid $direColor;
      .dire-desc{
        border-top: $tableheaderH solid $direColor;
        border-right: $tableheaderH solid transparent;
        border-bottom:none;
        border-left: none;
      }
    }
    .radiant-header{
      border-top:1px solid $radiantColor;
      .radiant-desc{
        border-top: $tableheaderH solid $radiantColor;
        border-right: $tableheaderH solid transparent;
        border-bottom:none;
        border-left: none;
      }
    }
    .cell{
      display: flex;
      justify-content: space-around;
      color: rgb(129,135,125);
      border:1px solid rgb(34,36,34);
      font-size: 12px;
      padding: 0 5px;
      align-items: center;
      .hero-avatar{
        width: $heroavatarW;
        max-height: 40px;
      }
      .user-name{
        font-size: 15px;
        width: 87px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .item-info{
        width: $itemW*3;
        display: flex;
        flex-wrap: wrap;
       .itemImg{
          width: $itemW;
        }
      }
      .user-avatar{
        width: 40px;
        @include radius(50%);
      }
    }
  }
}
